.primary-button {
    background: none;
    border: 1px solid var(--primary);
    color: var(--primary);
}

.primary-button:hover {
    border: 2px solid var(--white);
    color: var(--white);
}

.secondary-button {
    background: var(--primary);
    border: none;
    color: var(--background);
}

.secondary-button:hover {
    background-color: var(--white);
}

.terciary-button {
    background: none;
    border: none;
    color: var(--white);
}

.terciary-button:hover {
    background: var(--primary);
    border: none;
    color: var(--background);
}

.button {
    margin: 10px;
    width: 100%;
    min-width: 120px;
    max-width: 300px;
    height: 40px;
    min-height: 40px;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
    position: relative;
    font-size: var(--button-size);
    font-family: var(--secondary-font);
    transition: var(--default-transition);
}

button img {
    position: absolute;
    transform: translateX(-1.8em);
    top: 10px;
    transition: var(--default-transition);
}