:root {
    /*COLORS*/
    --white: #FFFFFF;
    --black: #0B0A0F;
    --text: #B0B0B0;
    --text2: #656565;
    --primary: #38C7BD;
    --background: #252836;
    --input: #1B1B25;
    --input-text: #13151a;
    --mask-color: #232633;

    /*TEXT-SIZES*/
    --link-size: 16px;
    --button-size: 12px;
    --paragraph-size: 15px;
    --mobile-size: 18px;

    /*FONTS*/
    --primary-font: 'Ubuntu Condensed';
    --secondary-font: 'Montserrat';
    --terciary-font: 'Ubuntu';

    /*TRANSITION*/
    --default-transition: 0.1s;
}